@charset "EUC-KR";

 .panel
        {
          margin: 5%;
          background: transparent;	/* 투명색 */ 
        }


        tr
        {
          transition: all 0.5s;
        }
        tr:hover
        {
          background-color: #d6828d;		/*search버튼 색*/
          transition: 0.5s;
        }
        .btn-warning
        {
          transition: all 0.8s;
        }

        .btn-warning:hover, .btn-warning:focus
        {
          transition: 0.8s;
          background-color: #428bca;		
          border-color: #428bca;
        }

        .panel-footer
        {
          /*background-color: #5bc0de;*/	/* 하단 footer 색*/
          background-color: #b5b1b2;
          color: white;
        }