<!DOCTYPE HTML>
<!--
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Caminar by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/assets_diary/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<!-- 일기보기 페이지 제목 -->
			<header id="header">
				<div class="logo txt_ko"><a href="#">오늘 일기</a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<!-- inner 안에 있는 것들은 내부 프레임에 그려집니다. -->
				<div class="inner">

				<!-- 오늘 일기-->
					<section id="one" class="wrapper style1">

						<!-- 첨부된 이미지 -->
						<div class="image fit flush">
							<img src="assets/assets_diary/images/pic02.jpg" alt="" />
						</div>
						
						<!-- 일기제목과 일기 부제목 -->
						<!-- 사용하지 않는다면 제거할 수 있습니다. -->
						<header class="special">
							<h2 class="txt_ko">일기 제목</h2>
							<p class="txt_ko">일기 부제목</p>
						</header>
						
						<!-- 일기 내용 -->
						<div class="content txt_ko">
							<p>일기내용입니다.</p>
						</div>
					</section>
					
					
				<!-- 최근 일기 이미지 4개 -->
					<section id="two" class="wrapper style2">
						<header>
							<h2 class="txt_ko">최근 일기들</h2>
							<p class="txt_ko">최근 일기 부제목</p>
						</header>
						<div class="content">
							<div class="gallery">
								<div>
									<div class="image fit flush">
										<a href="assets/assets_diary/images/pic03.jpg"><img src="assets/assets_diary/images/pic03.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="assets/assets_diary/images/pic01.jpg"><img src="assets/assets_diary/images/pic01.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="assets/assets_diary/images/pic04.jpg"><img src="assets/assets_diary/images/pic04.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="assets/assets_diary/images/pic05.jpg"><img src="assets/assets_diary/images/pic05.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>	
				</div>
				
				
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved. Images <a href="https://unsplash.com">Unsplash</a> Design <a href="https://templated.co">TEMPLATED</a>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/assets_diary/js/jquery.min.js"></script>
			<script src="assets/assets_diary/js/jquery.poptrox.min.js"></script>
			<script src="assets/assets_diary/js/skel.min.js"></script>
			<script src="assets/assets_diary/js/util.js"></script>
			<script src="assets/assets_diary/js/main.js"></script>

	</body>
</html>